/* Sfondo nero per l'elenco dei link */
.slicknav_nav {
      background: rgba(5, 6, 23, 0.302) !important;
      box-shadow: none !important;
      border: none !important;
}

/* Colore bianco per i testi e le frecce */
.slicknav_nav li a, 
.slicknav_nav .slicknav_arrow {
    color: #ffffff !important;
          text-transform: uppercase;
}

/* Rimuove lo sfondo grigio/chiaro quando passi sopra col dito o clicchi */
.slicknav_nav a:hover,
.slicknav_nav .slicknav_item:hover {
    color: #ffffff !important;
}

/* Quando lo scroll supera i 400px, la nav mobile diventa nera */
.header-sticky.sticky-bar .slicknav_menu {
    background-color: #000000 !important;
    transition: background-color 0.3s ease;
}

/* Assicurati che anche l'elenco dei link diventi nero */
.header-sticky.sticky-bar .slicknav_nav {
    background-color: #000000 !important;
}

/* Rimuovi bordi bianchi residui durante lo scroll */
.header-sticky.sticky-bar .slicknav_nav,
.header-sticky.sticky-bar .slicknav_item {
    border: none !important;
    box-shadow: none !important;
}

/* Quando la barra diventa sticky, il sottomenu desktop diventa nero */
.header-sticky.sticky-bar .menu-wrapper .main-menu ul ul.submenu {
    background: #000000 !important;
    border: none !important;
}

.info-caption .info-icon {
  width: 74px;
  height: 74px;

  object-fit: contain;
  display: block;

  margin: 0 auto 15px;
}

.single-brand-black {
    filter: brightness(0);  /* Trasforma tutto (anche i bianchi) in nero */
}